<h1 class="headerFont">Shopping Cart</h1>
<div class="form-container">
	<ul class="login-box">
		<li *ngFor="let item of items" class="items-in-cart-box item-font">
			{{ item.brand }} {{item.style}} {{item.material}} - {{ item.price | currency }}
			<button class="remove-button" (click)="removeItem(item)">Remove</button>
		</li>
		<p class="labelFont">Total cost: {{ totalPrice | currency }}</p>
		<span class="button-container">
			<button routerLink="/checkout" class="checkout-button" type="submit">Checkout</button>
		</span>
	</ul>
</div>
