/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
}

body {

	margin: 0 0 1rem 0;

	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-image: url("https://media.istockphoto.com/id/1145708942/photo/old-white-brick-wall-background.jpg?b=1&s=170667a&w=0&k=20&c=zjWEtiPz6V65MFxWcYb_j5gwxcvJoNPOmeg27LioJ48=");
}
