<h1 class="headerFont"> Sign Up </h1>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">
	<div class="login-box">
		<div *ngIf="errorMessage">{{errorMessage}}</div>

		<span>
			<label class="labelFont" for="username"> Username: </label>
			<input class="input" formControlName="username" id="username" placeholder="Enter Username" type='text'/>
			<!--			<div *ngIf="!validUsername()">Please enter a username</div>-->
		</span>
		<span>
			<label class="labelFont" for="password"> Password: </label>
			<input class="input" formControlName="password" id="password" placeholder="Enter Password" type='password'/>
			<!--			<div *ngIf="!validPassword()"> Please enter a password</div>-->
		</span>
		<span class="button-container">
			<button (click)="onSubmit()" class="login-button" type="button">Signup</button>
		</span>
	</div>
</form>
