<h1 class="headerFont">
	Inventory
</h1>

<div class="main-box row">
	<div class="button-box">
		<button class="button-style" (click)="toggleDropDown()">Add Shoe</button>
	</div>
	<div class="column" *ngIf="isDropDownVisible" [ngModel]="newShoe">
		<div class="input-column">
			<span>
				<label for="new-shoe-id">ID #:</label>
				<input class="input" id="new-shoe-id" placeholder="Enter ID Number" [(ngModel)]="newShoe.id" />

				<label for="new-shoe-brand"> Brand:</label>
				<input class="input" id="new-shoe-brand" #shoeBrand placeholder="Enter Brand Name" [(ngModel)]="newShoe.brand"/>

				<label for="new-shoe-sizing">Style:</label>
				<input class="input" id="new-shoe-style" #shoeStyle placeholder="Enter Shoe Style" [(ngModel)]="newShoe.style"/>

				<label for="new-shoe-sizing">Sizing:</label>
				<select class="input" id="new-shoe-sizing" #shoeSizing  [ngModel]="newShoe.sizing">
					<option *ngFor="let sizing of sizingOptions" [value]="shoeSizing">{{sizing}}</option>
				</select>
			</span>
			<span>
				<label for="new-shoe-size">Size:</label>
				<input class="input" id="new-shoe-size" #shoeSize placeholder="Enter Shoe Size" [(ngModel)]="newShoe.size"/>

				<label for="new-shoe-price">Price:</label>
				<input class="input" id="new-shoe-price" #shoePrice placeholder="Enter Shoe Price" [(ngModel)]="newShoe.price"/>

				<label for="new-shoe-material">Material:</label>
				<input class="input" id="new-shoe-material" #shoeMaterial placeholder="Enter Material" [(ngModel)]="newShoe.material"/>

				<label for="new-shoe-color">Color:</label>
				<input class="input" id="new-shoe-color" #shoeColor placeholder="Enter Shoe Color" [(ngModel)]="newShoe.color"/>
			</span>
		</div>
		<ul class="create-shoe">
			<li>
				<span>ID#: {{newShoe.id}} | Brand: {{newShoe.brand}} |
					Style: {{newShoe.style}} | Gender: {{newShoe.sizing}} | Size: {{newShoe.size}}
					| Price: ${{newShoe.price}} | Material: {{newShoe.material}} | Color: {{newShoe.color}}
				</span>
			</li>
		</ul>
		<button class="button-style" type="button"  (click)="onSubmit(); isDropDownVisible = !isDropDownVisible">
			Add
		</button>
	</div>
	<div class="column-2">
		<ul class="column-3">
			<a class="inline" *ngFor="let shoe of shoes">
					<span class="inline create-shoe">{{shoe.id}} | {{shoe.brand}} | {{shoe.style}} | {{shoe.sizing}}
						{{shoe.size}} | {{shoe.price}} | {{shoe.material}} | {{shoe.color}}
						<button type="button" class="delete-button-style" title="delete hero"
							(click)="deleteShoe(shoe)">Delete</button>
						<select class="update-button-style" title="update shoe" [(ngModel)]="selectedElement">
								    <option value="id">ID</option>
									<option value="brand">Brand</option>
									<option value="style">Style</option>
									<option value="sizing">Sizing</option>
									<option value="size">Size</option>
									<option value="price">Price</option>
									<option value="material">Material</option>
  									<option value="color">Color</option>
							Update</select>
							<input *ngIf="selectedElement && isInputShown" type="text" class="update-input-style" placeholder="Enter updated value" [(ngModel)]="updatedElement">
						<button type="button" class="save-button-style" title="save shoe"
								(click)="save()">Save</button>
					</span>
			</a>
		</ul>
	</div>
</div>
