<h1 class="headerFont">
	Inventory
</h1>

<div class="main-box row">
	<div class="button-box">
		<button (click)="toggleDropDown()" class="button-style">Add Shoe</button>
	</div>
	<div *ngIf="isDropDownVisible" [ngModel]="newShoe" class="column">
		<div class="input-column">
			<span>
				<label for="new-shoe-id">ID #:</label>
				<input [(ngModel)]="newShoe.id" class="input" id="new-shoe-id" placeholder="Enter ID Number"/>

				<label for="new-shoe-brand"> Brand:</label>
				<input #shoeBrand [(ngModel)]="newShoe.brand" class="input" id="new-shoe-brand" placeholder="Enter Brand Name"/>

				<label for="new-shoe-sizing">Style:</label>
				<input #shoeStyle [(ngModel)]="newShoe.style" class="input" id="new-shoe-style" placeholder="Enter Shoe Style"/>

				<label for="new-shoe-sizing">Sizing:</label>
				<select #shoeSizing [ngModel]="newShoe.sizing" class="input" id="new-shoe-sizing">
					<option *ngFor="let sizing of sizingOptions" [value]="shoeSizing">{{sizing}}</option>
				</select>
			</span>
			<span>
				<label for="new-shoe-size">Size:</label>
				<input #shoeSize [(ngModel)]="newShoe.size" class="input" id="new-shoe-size" placeholder="Enter Shoe Size"/>

				<label for="new-shoe-price">Price:</label>
				<input #shoePrice [(ngModel)]="newShoe.price" class="input" id="new-shoe-price" placeholder="Enter Shoe Price"/>

				<label for="new-shoe-material">Material:</label>
				<input #shoeMaterial [(ngModel)]="newShoe.material" class="input" id="new-shoe-material" placeholder="Enter Material"/>

				<label for="new-shoe-color">Color:</label>
				<input #shoeColor [(ngModel)]="newShoe.color" class="input" id="new-shoe-color" placeholder="Enter Shoe Color"/>
			</span>
		</div>
		<ul class="create-shoe">
			<li>
				<span>ID#: {{newShoe.id}} | Brand: {{newShoe.brand}} |
					Style: {{newShoe.style}} | Gender: {{newShoe.sizing}} | Size: {{newShoe.size}}
					| Price: ${{newShoe.price}} | Material: {{newShoe.material}} | Color: {{newShoe.color}}
				</span>
			</li>
		</ul>
		<button (click)="onSubmit(); isDropDownVisible = !isDropDownVisible" class="button-style" type="button">
			Add
		</button>
	</div>
	<div class="column-2">
		<ul class="column-3">
			<a *ngFor="let shoe of shoes; let index = index; trackBy: trackByIndex;" class="inline">
					<span class="inline create-shoe">
						{{shoe.id}} | {{shoe.brand}} | {{shoe.style}} | {{shoe.sizing}} {{shoe.size}} | {{shoe.price}} | {{shoe.material}} | {{shoe.color}}
						<button (click)="deleteShoe(shoe)" class="delete-button-style" title="Delete Shoe" type="button">Delete</button>
						<select class="update-button-style" title="Update shoe" (click)="selectIndex(index)">
							<option value="id">ID</option>
							<option value="brand">Brand</option>
							<option value="style">Style</option>
							<option value="sizing">Sizing</option>
							<option value="size">Size</option>
							<option value="price">Price</option>
							<option value="material">Material</option>
							<option value="color">Color</option>
							Update
						</select>
						<input *ngIf="selectedShoeIndex == index" class="update-input-style" placeholder="Enter updated value" type="text">
						<button (click)="save()" class="save-button-style" title="save shoe" type="button"> Save </button>
					</span>
			</a>
		</ul>
	</div>
</div>
