<h1 class="headerFont"> Login </h1>

<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="form-container" novalidate>
	<div class="login-box">
		<span>
			<label class="labelFont" for="username"> Username: </label>
			<input #usernameInput class="input" id="username" placeholder="Enter Username" type='text'/>
			<div *ngIf="!validateUsername()">Please enter a username</div>
		</span>
		<span>
			<label class="labelFont" for="password"> Password: </label>
			<input #passwordInput class="input" id="password" placeholder="Enter Password" type='password'/>
			<div *ngIf="!validatePassword()"> Please enter a password</div>
		</span>
		<span class="button-container">
			<button class="login-button" type="submit">Login</button>
		</span>
	</div>
</form>
