<h1 class="headerFont"> Login </h1>

<form (ngSubmit)="onSubmit()" class="form-container" novalidate>
	<div class="login-box">
		<span>
			<label class="labelFont" for="email"> Email: </label>
			<input #emailInput class="input" id="email" placeholder="Enter email" type='email'/>
			<div *ngIf="!emailValid" class="invalid-feedback">Please enter a valid email address</div>
		</span>
		<span>
			<label class="labelFont" for="password"> Password: </label>
			<input #passwordInput class="input" id="password" placeholder="Enter password" type='password'/>
			<div *ngIf="!passwordValid" class="invalid-feedback">Please enter a password</div>
		</span>
		<span class="button-container">
			<button class="login-button" type="submit">Login</button>
			<button class="login-button" type="submit">Sign-Up</button>
		</span>
	</div>
</form>
