<div class="headerFont">
	Orders
</div>
<div class="flex-box">
	<div class="column-2">
		<ul class="column-3">
			<a *ngFor="let order of orders" class="inline">
				<span class="inline create-shoe">
					{{order.username}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
					<ol>
						<li *ngFor="let item of order.items">
							order info
							{{item.brand}} {{item.style}} - ${{item.price}}
						</li>
					</ol>
					&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp; ${{order.totalCost}}
				</span>
			</a>
		</ul>
	</div>
</div>
