<div>
<mat-toolbar class="navbar-wrap navbar-style" >
	<mat-toolbar-row class="navbar-style">

		<span class="logo-spacing">{{"7Shoes"}}</span>

		<button mat-button routerLink="/mens">New Arrivals</button>
		<button mat-button routerLink="/mens">Mens</button>
		<button mat-button routerLink="/mens">Womens</button>
		<button mat-button routerLink="/mens">Kids</button>

		<app-searchbar></app-searchbar>

		<button mat-icon-button>
			<mat-icon routerLink="/home">home</mat-icon>
		</button>
		<button mat-icon-button>
			<mat-icon routerLink="/cart">shopping_cart</mat-icon>
		</button>
		<button mat-icon-button>
		<mat-icon routerLink="/profile">face</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
</div>
