<mat-toolbar class="navbar-wrap navbar-style light-shadow">
	<mat-toolbar-row class="navbar-style">

		<a class="logo-spacing" routerLink="/home">{{"7Shoes"}}</a>

		<a routerLink="/browse" [queryParams]="{query: 'New'}" mat-button>New Arrivals</a>
		<a routerLink="/browse" [queryParams]="{query: 'Mens'}" mat-button>Mens</a>
		<a routerLink="/browse" [queryParams]="{query: 'Womens'}" mat-button>Womens</a>
		<a routerLink="/browse" [queryParams]="{query: 'Kids'}" mat-button>Kids</a>
		<a *ngIf="isAdmin()" routerLink="/inventory" mat-button>Inventory</a>

		<app-searchbar></app-searchbar>

		<a routerLink="./home" mat-icon-button>
			<mat-icon>home</mat-icon>
		</a>

		<a routerLink="/cart" mat-icon-button>
			<mat-icon>shopping_cart</mat-icon>
		</a>

		<a mat-icon-button routerLink="/login">
			<mat-icon>face</mat-icon>
		</a>

		<span class="hello-user"> Hello, {{userService.getUser().username.toString()}}! </span>
	</mat-toolbar-row>
</mat-toolbar>

