.navbar-style {
	height: 30px;
	align-items: center;
	justify-content: center;
}

.logo-spacing {
	margin-left: 1rem;
	margin-right: 4rem;
}

.icon-button-sizing {
	font-size: 2rem;
}

.icon-spacing {
	margin-left: 1rem;
	margin-right: 1rem;
}
